body {
    display: flex;
    flex-direction: column;
    margin: 75px 300px;
     width: 600px;
}

.box {
    border: 4px solid rgb(206, 55, 55);
}

.top {
    margin: 0 15px 3px;
    border: 4px solid #C147E9;
   height: 40px;
}

p {
    margin: 0;
}

.body {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin:10px 15px 10px 15px;
    height: 150px;
    
}

.left {
    position: relative;
    /* width: 10%; */
    flex:1;
    margin-right: 3px;
    border: 4px solid #00FFF6;
}

.right {
    position: relative;
    flex: 7;
    margin-left: 20px;
    margin-right: 10px;

    /* width: 85%; */
    border: 4px solid #FAAB78;
}

.footer {
   
    height: 40px;
    margin: 10px 25px 10px 15px;
    border: 4px solid #00005C;
    
      
}

p{
    margin-bottom: 15px;
    
}

